
.user {
  margin: 0 auto;
  border-radius: 6px;
  width: calc(33.3% - 40px);
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 0 0 1px #ddd inset;
  position: relative;
  background:#fff;

  &-avatar {
    width: 75px;
    border-radius: 100%;
    overflow: hidden;
    font-size: 0;
    margin-right: 12px;
    height: 75px;
    img{
      width:75px;
    }
  }
 
  &-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 1%,rgba(0,0,0,0) 100%);

  }
  
  &-basic-info {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
  }
  
  &-fullname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-nick {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  &-data {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    font-size: 12px;
    color:#444;
  }
  
  &-fullname {
    color: rgba(#333, .6);
    font-size: 22px;
    margin: 0px 0 5px 0;
  }
  
  &-info {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }
  
  &-info {
    border-top: 1px solid #efefef;
  }
  
  &-title {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
  }
  
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
  }
  &-link{
    font-size:12px;
    color:#888;
  }
 
  &-remove {
    transition: .3s;
    border: 0;
    background-color: #5B9EED;
    box-shadow: 0 0 0 40px rgba(#fff, .8), 0 0 0 5px rgba(#5B9EED, .8);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    outline: 0;
    cursor: pointer;
    width: 98%;
    margin: 1%;

  }
}

@media (max-width: 800px) {
  .user {
    width: calc(50% - 40px);
  }
}

@media (max-width: 600px) {
  .user {
    width: calc(100% - 40px);
  }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 55;
    background: #000;
    opacity: 0.2;
}


svg {
  width: 70px;
    overflow: visible;
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 99;
}
svg .loader-ring {
  transform-origin: 50px 50px;
  animation: 
    starting-fill 0.5s forwards,
    vary-loader-width 3s 0.5s linear infinite alternate,
    spin 1.6s 0.2s linear infinite;
}
svg .loader-ring-overlay {
  visibility: hidden;
  transform-origin: 50px 50px;
  animation: spin 1.6s 0.2s linear infinite;
}
.complete .loader-ring-overlay {
  visibility: visible;
  animation: 
    complete-fill 0.5s linear forwards, 
    spin 1.6s 0.2s linear infinite;
}
.complete .loader-ring {
  animation: 
    starting-fill 0.5s forwards,
    vary-loader-width 3s 0.5s linear infinite alternate,
    spin 1.6s 0.2s linear infinite, fade 0.1 0.5s linear forwards;
}
.complete svg {
  animation: fade 0.2s 0.7s linear forwards;
  transition: all 0s 0.9s;
  cursor: initial;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
@keyframes starting-fill {
  to {
    stroke-dashoffset: 270;
  }
}
@keyframes vary-loader-width {
  0% {
    stroke-dashoffset: 270;
  }
  50% {
    stroke-dashoffset: 170;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes complete-fill {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
